{{ partial "header.html" . }}

<div class="article-meta">
    <div class="title"><span>{{ .Title | markdownify }}</span></div>
</div>
    <hr/>
<main>
    {{ .Content }}

    {{ range $index, $value := (where .Data.Pages "Section" "!=" "") }}
        <div class="list-article">
            {{ if not (eq $index 0) }}<hr class="list-break" \>{{ end }}
            {{ if .Params.Thumb }}
            <a href="/images/{{ .Params.Thumb }}" class="ltbox-trigger" >
                <img class="{{ if not (eq (mod $index 2) 0) }}page-thumb-right{{ else }}page-thumb-left{{ end }}" src="/images/{{ .Params.Thumb }}" />
            </a>
            {{ end }}
            <div class="list-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></div>
            {{ with .Params.author }}
                <span class="list-author">{{ . }}</span>
            {{ end }}
            {{ if (gt .Params.date 0) }}
                <span class="list-date"> - {{ .Date.Format "01/02/2006"}}</span>
            {{ end }}
            <p class="list-summary">
            {{ .Summary | plainify | safeHTML }}
                {{ if .Truncated }}
                  <a href="{{ .Permalink }}">
                    [Read more]
                  </a>
                {{ end }}
            </p>
        </div>
    {{ end }}
</main>

{{ partial "footer.html" . }}
