{{ partial "header.html" . }}

<div class="article-meta">
    <div class="title"><span>{{ .Title | markdownify }}</span></div>
</div>

<hr/>
<ul class="terms">
  {{ range $key, $value := .Data.Terms }}
  <li>
    <a href="{{ (print "/" $.Data.Plural "/" $key | urlize) | relURL }}" class="circle">
        <div>
        {{ len $value }}
        </div>
    </a>
    <a href="{{ (print "/" $.Data.Plural "/" $key | urlize) | relURL }}" style="display:inline-block;">
      {{ $key }}
    </a>
  </li>
  {{ end }}

</ul>

{{ partial "footer.html" . }}
