<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Belgrano|Lato&display=swap" rel="stylesheet">
<!-- old Lightbox used 3.4.1, and still works with 3.5.1 -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<!-- Links for fancybox -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

<!-- Old lightbox -->
<script>
jQuery(document).ready(function($) {
    // $(function() {
        // $('body').find('#ltbox').hide();
    // })
    $('.ltbox-trigger').click(function(e) {
    	// Code that makes the lightbox appear
        //prevent default action (hyperlink)
		e.preventDefault();
		
		//Get clicked link href
		var image_href = $(this).attr("href");
		
		/* 	
		If the lightbox window HTML already exists in document, 
		change the img src to to match the href of whatever link was clicked
		*/
		
		if ($('#ltbox').length > 0) { // #lightbox exists
			
			//place href as img src value
			$('#content').html('<img src="' + image_href + '" />');
		   	
			//show lightbox window - you could use .show('fast') for a transition
			// $('#ltbox').show();
            // $('#ltbox').css('display', 'block');
            $('#ltbox').toggle();
		}
		//Click anywhere on the page to get rid of lightbox window
        return false;
    });
    $('body').on('click', '#ltbox', function() { //must use live, as the lightbox element is inserted into the DOM
        // $('#ltbox').css('display', 'none');
        $('#ltbox').toggle();
    });
});
</script>
