<div id="ltbox-div">
    <div class="ltbox-gallery-row">
        {{ if (not (eq (.Get `src1`) "")) }}
        <div class="ltbox-gallery-col">
            <a data-fancybox="gallery{{if (( .Get `id` ))}}-{{ .Get `id`}}{{ end }}"
               data-loop="true"
               data-buttons='["zoom","fullScreen","close"]'
               data-animation-effect="false" href="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{.Get `src1` }}">
                <img style="width:100%;" class="{{if .Get `nsfw`}}nsfw{{ end }}"
                     src="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src1` }}">
            </a>
        </div>
        {{ end }}
        {{ if (not (eq (.Get `src2`) "")) }}
        <div class="ltbox-gallery-col">
            <a data-fancybox="gallery{{if (( .Get `id` ))}}-{{ .Get `id`}}{{ end }}"
               data-loop="true"
               data-buttons='["zoom","fullScreen","close"]'
               data-animation-effect="false" href="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{.Get `src2` }}">
                <img style="width:100%;" class="{{if .Get `nsfw`}}nsfw{{ end }}"
                     src="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src2` }}">
            </a>
        </div>
        {{ end }}
        {{ if (not (eq (.Get `src3`) "")) }}
        <div class="ltbox-gallery-col">
            <a data-fancybox="gallery{{if (( .Get `id` ))}}-{{ .Get `id`}}{{ end }}"
               data-buttons='["zoom","fullScreen","close"]'
               data-loop="true"
               data-animation-effect="false" href="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{.Get `src3` }}">
                <img style="width:100%;" class="{{if .Get `nsfw`}}nsfw{{ end }}"
                     src="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src3` }}">
            </a>
        </div>
        {{ end }}
    </div>
</div>
