<div id="ltbox-div">
    <div class="ltbox-gallery-row">
        {{ if (isset (.Get `src1`) "") }}
        <div class="ltbox-gallery-col">
            <a href="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src1` }}" class="ltbox-trigger" >
                <img src="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src1` }}" style="width:100%;" \>
            </a>
        </div>
        {{ end }}
        {{ if (isset (.Get `src2`) "") }}
        <div class="ltbox-gallery-col">
            <a href="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src2` }}" class="ltbox-trigger" >
                <img src="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src2` }}" style="width:100%;" \>
            </a>
        </div>
        {{ end }}
        {{ if (isset (.Get `src3`) "") }}
        <div class="ltbox-gallery-col">
            <a href="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src3` }}" class="ltbox-trigger" >
                <img src="{{ .Page.Site.BaseURL }}images/{{ .Page.Params.assets }}/{{ .Get `src3` }}" style="width:100%;" \>
            </a>
        </div>
        {{ end }}
    </div>
</div>
